{% extends "base.html.twig" %}

{% block title %}Film : {{movie.title}}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="py-5">{{movie.title}}</h1>
        <h3>Sortie en salle en
            {{ movie.releasedAt|date('Y') }}
            <span class="badge badge-success float-right">
                Noté : / 5
            </span>
        </h3>
        <h5>
            {% for category in movie.categories %}
                <a href="{{path('category', {'slug': category.slug }) }}" class="badge badge-dark">
                    {{ category.title }}
                </a>
            {% endfor %}
        </h5>
        <div class="row">
            <div class="col">
                <h2>Synopsis :</h2>
                <p>{{ movie.synopsis | raw }}</p>
            </div>
            <div class="col-4">
                <p><img src="{{ movie.image }}" alt="{{ movie.title }}" style="width: 100%"></p>
    {#            {% if is_granted('ROLE_ADMIN') %}#}
    {#                <p>#}
    {#                    <a class="btn btn-primary" href="{{ path('movie_edit', {'slug': movie.slug}) }}">#}
    {#                        <i class="fas fa-edit"></i>#}
    {#                        Modifier</a>#}
    {#                    {% include('movie/_delete_form.html.twig') %}#}
    {#                </p>#}
    {#            {% endif %}#}

            </div>
        </div><hr><h2>Casting :</h2>
        <div class="row">
            {% for actor in movie.actors %}
                <div class="col-3">
                    <div class="card bg-light text-center border-primary mb-3">
                        <img src="{{ actor.picture }}" alt="{{ actor.fullName }}" style="width: 100%">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{{ path('people', { 'slug': actor.slug }) }}" class="stretched-link">{{ actor.fullName }}</a>
                            </h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="alert alert-primary">

            {% if alreadyHasRating %}
                <h2>Vous avez déjà donné votre avis sur ce film</h2>
            {% else %}

                {% if is_granted('ROLE_USER') %}
                    <h2>Vous aussi, Donnez votre avis sur "{{movie.title}}"</h2>
                    {{ form_start(form)}}
                    {{ form(form)}}
                    <button class="btn btn-success" type="submit">
                        <i class="fas fa-check"></i>
                        Ajouter mon avis
                    </button>
                    {{ form_end(form)}}

                {% else %}
                    <h2>Connectez-vous si vous souhaitez donner votre avis sur le film</h2>
                    <a href="{{ path('app_login') }}" class="btn btn-primary">
                        <i class="fas fa-lock-open"></i>
                        Connexion
                    </a>
                {% endif %}
            {% endif %}

        </div>

        <hr>

        <h2>{{movie.ratings | length}} critiques de la communauté </h2>

        {% for rating in movie.ratings %}
            <div class="row">
                <div class="col-2" style="margin-bottom: 15px">
                    <img src="{{ rating.author.picture }}" alt="{{ rating.author.username }}" style="width: 100%">
                </div>
                <div class="col-10" style="margin-bottom: 15px">

    {#                {% if is_granted('ROLE_MODERATOR') %}#}

    {#                    <div style="float:right">#}
    {#                        <a href=" {{ path('rating_delete', { id: rating.id } ) }} ">#}
    {#                            <i class="fas fa-trash"></i>#}
    {#                        </a>#}
    {#                    </div>#}
    {#                {% endif %}#}

                    <blockquote>
                        <em>{{ rating.comment }}</em>
                    </blockquote>
                    <p>par
                        {{ rating.author.username }}, le
                        {{ rating.createdAt | date('d/m/Y') }}
                    </p>

                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}