<div class="card bg-light border-secondary mb-3">
    <div class="card-header">
        <h4>
            <a href="{{ path('movie_show', { 'slug' : movie.slug }) }}" class="stretched-link">
                {{ movie.title }}</a>
        </h4>
    </div>
    <div style="position: relative">
        <img src="{{ movie.image  }}" alt="{{ movie.title }}" class="movie-img" style="width: 100%" data-crop-image-ratio="1.2">
    </div>

    <div class="card-body">
        <p class="card-title">
            Sortie en salle le :
            <strong>{{ movie.releasedAt | date("F")}} {{ movie.releasedAt | date("Y")}}.</strong>
            <br/>
            {% if movie.actors.count > 1 %}
                Acteurs :
            {% else %}
                Acteur :
            {% endif %}
            {% for actor in movie.actors %}
                <a href="{{ path('people',{'slug': actor.slug }) }}">{{ actor.fullName }}</a>
            {% endfor %}
        </p>
    </div>
</div>